shared:
  node_container: &node_container
    language: node_js
    node_js:
      - 10.16.3
    before_install:
      - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.17.3
      - export PATH="$HOME/.yarn/bin:$PATH"
      - "sysctl kernel.unprivileged_userns_clone=1"
      - "export DISPLAY=:99.0"
      - "sh -e /etc/init.d/xvfb start"
    install:
      - yarn install --production=false --frozen-lockfile
    cache: yarn

matrix:
  include:
    - <<: *node_container
      name: 'Node - build, type-check, and test'
      script:
        - yarn build
        - yarn test
    - <<: *node_container
      name: 'Node - lint'
      script:
        - yarn lint
