:root {
  --toolbar-background-color: rgb(243, 243, 243);
  --toolbar-border-color: rgb(204, 204, 204);
  --button-color: rgb(110,110,110);
  --text-color: rgb(40,40,40);
}

[data-theme="dark"] {
  --toolbar-background-color: rgb(51, 51, 51);
  --toolbar-border-color: rgb(61, 61, 61);
  --button-color: rgb(145,145,145);
  --text-color: rgb(189, 198, 207);
}

/* Toolbar */
.toolbar {
  background-color: var(--toolbar-background-color);
  height: 26px;
  padding-top: 0;
  margin-top: 0;
  border-bottom: 1px solid var(--toolbar-border-color);
}

/* Toolbar Button Group */
.toolbar__button-group {
  margin-left: 3px;
  display: flex;
  align-items: center;
}

/* Toolbar Button */
.toolbar__button {
  position: relative;
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.toolbar__button:focus {
  outline: none;
}

.toolbar__button:hover span {
  fill: var(--text-color);
}

.toolbar__button:active span{
  fill: var(--button-color);
}

/* Toolbar Button Icon */
.toolbar__button-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  fill: var(--button-color);
}

.toolbar__button-icon--refresh {
  height: 12px;
  width: 14px;
}

.toolbar__button-icon--zoom-out {
  height: 14px;
  width: 14px;
}

.toolbar__button-icon svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Toolbar Divider */
.toolbar__divider {
  width: 1px;
  height: 16px;
  margin: 0 5px;
  background-color: var(--toolbar-border-color);
}

/* Toolbar Tooltip */
.toolbar__tooltip {
  position: absolute;
  top: 28px;
  left: 0;
  padding: 0px 8px;
  white-space: nowrap;
  background-color: var(--toolbar-background-color);
  color: var(--text-color);
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid var(--toolbar-border-color);
  box-shadow: 0 0 3px 1px var(--toolbar-border-color);
  z-index: 1;
}

/* Panel */
body {
  margin: 0;
  color: var(--text-color);
}

.hide{
  display: none;
}

.chart {
  margin: 20px 20px;
}

.centered-message {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  opacity: 0.7;
  text-align: center;
}

.refresh-icon {
  display: inline-block;
  height: 11px;
  width: 11px;
  margin: 0 2px;
}

.refresh-icon svg {
  fill: var(--button-color);
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 80%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

.wrap-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.detailed-info {
  margin: 20px;
}

.search {
  margin: 20px;
}

.total-time, .rendering-backend {
  margin: 20px;
  font-size: 13px;
}

.code-snippet {
  background-color: var(--toolbar-background-color);
  border: 1px solid var(--toolbar-border-color);
  padding: 4px 8px;
  line-height: 2.5;
}

[data-theme="dark"] a {
  color: var(--button-color);
}

.warning-sign {
  width: 50px;
}

.loading-fade {
  opacity: 0.6;
}

/* D3 Overrides */

[data-theme="dark"] .d3-flame-graph rect {
  stroke: var(--toolbar-border-color);
}
