.popup {
  width: 215px;
  padding: 10px 5px;
}

.popup-button {
  padding: 7px;
  background-color: #5867C3;
  border: 0px;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 13px;
  height: 34px;
  width: 70px;
  text-align: center;
}

.shopify-logo {
  width: 100px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 15px;
}

.faded-hr {
  opacity: 0.5;
}

.login-prompt {
  font-size: 13px;
  text-align: center;
}

.hide {
  display: none;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 80%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

